body {
	background: whitesmoke;
}

ul {
	list-style: none;
}

.header {
	background: gold;
	margin: 0 auto;
}

.header-container {
	width: max-content;
	margin: 0 auto;
}

.header-element {
	display: inline-block;
	margin: auto 10px;
}

.main {
	background: silver;
	height: 100vh;
	margin: 0 auto;
	padding-top: 10px;
}

.counter-container {
	border: solid 1px;
	border-radius: 5px;
	width: fit-content;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: larger;
	background-color: cornflowerblue;
	margin: 0 auto;
}

.counter-element {
	margin: 5px 10px;
}

.info-data {
	width: max-content;
	margin: 5px auto;
	display: flex;
}

.info {
	display: flex;
	flex-direction: column;
	align-items: end;
	line-height: 1.25;
}

.data {
	padding-left: 0.5rem;
}